.darken #container {
	background-color: #1c2532 !important;
}

.darken #dashboard {
	background-color: #283243 !important;
	border: 1px solid #323e4f;
}

.darken .ui.top.sidebar {
	background-color: #1c2532 !important;
	border-bottom: 1px solid #f8f8f2;
}

.darken #settings-menu {
	border-bottom: 1px solid #323e4f;
}

.darken #settings-menu>.item {
	color: #a9c7df !important;
	border: 1px solid #323e4f;
}

.darken #settings-menu>.active.item {
	background-color: #283243 !important;
}

.darken .ui.bottom.attached.tab.segment {
	background-color: #283243 !important;
	border: 1px solid #323e4f;
}

.darken #selected-raids-container {
	background-color: #283243 !important;
	border: 1px solid #323e4f;
	background: inherit;
}

.darken #selected-raids-container-label {
	color: #a9c7df !important;
}

.darken .selected-raids-label {
	background-color: darkgrey !important;
}

.darken #selected-raids {
	background-color: #E8E8E8 !important;
}

.darken #raid-table thead th, .darken #raid-container thead th {
	background-color: #283243 !important;
	border-bottom: 1px solid #f8f8f2 !important;
	color: #a9c7df !important;
}

.darken #raid-container .ui.card {
	background-color: #1c2532 !important;
}

.darken #raid-container .ui.card>.content {
	background-color: #283243 !important;
}

.darken #raid-container .ui.card>.content>* {
	color: #a9c7df !important;
}

.darken #raid-table tbody tr, .darken #raid-container .ui.card tr {
	background-color: #283243;
	color: #a9c7df !important;
}

.darken #raid-table tbody tr > td > div > div > div.content > div.header,
.darken #raid-table tbody tr > td > div > div > div.content > div.meta {
	color: #a9c7df !important;
}

.darken #raid-table tbody tr td, .darken #raid-container .ui.card tr td {
	border-bottom: 1px solid #f8f8f2 !important;
}

.darken #table-body>tr:not(.clicked-row):hover, .darken #raid-container tbody>tr:not(.clicked-row):hover {
	background-color: #1c2532 !important;
}

.darken .clicked-row {
	background-color: #323D7B !important;
}

.darken .name-meta {
	color: #a9c7df !important;
}

.darken .ui.special.wide.popup.bottom.left.transition {
	background-color: #283243;
	color: #a9c7df !important;
}

.darken button, .darken img {
	opacity: 0.8;
}
