.darken #header>div.ui.secondary.inverted.blue.segment, .darken .rowed tbody tr:hover {
	background-color: #316d92 !important;
}

.darken #raid-container table td {
	border: 1px solid #000;
	color: #FFF !important;
}

.darken #raid-table th, .darken #raid-table td, .darken #raid-container table th {
	background-color: #2a465c !important;
	border: 1px solid #000;
	color: #FFF !important;
}

.darken .input-control-disabled, .darken .slider-control-disabled {
	background-color: #000 !important;
}

.darken .layout-switcher>button {
	background-color: #031019 !important;
	color: #FFF !important;
}

.darken .menu>.item:hover {
	color: #D3D3D3 !important;
}

.darken .message, .darken .menu>.item {
	background-color: #2a465c !important;
	color: #FFF !important;
}

.darken .modal>div>div>span, .darken .modal>div>img, .darken .modal>div>div>button {
	border: 1px solid #000;
}

.darken .sidebar {
	border-bottom: 3px solid #000 !important;
}

.darken .ui.checkbox>label, .darken .sweet-alert>h2, .darken .sweet-alert>p, .darken #selected-raids, .darken .message>.description, .darken .header, .darken .meta, .darken .input-title, .darken .input-footer, .darken .slider-title {
	color: #FFF !important;
}

.darken .ui.special.popup {
	background-color: #316d92 !important;
	color: #FFF;
}

.darken .ui.special.popup a {
	color: #D3D3D3;
	text-decoration: underline;
}

.darken input .ui.label, .darken :not(.layout-switcher):not(td)>.button:not(.negative), .darken .layout-switcher>button.primary {
	background-color: #316d92 !important;
	color: #FFF !important;
}

.darken, .darken .sweet-alert, .darken #raid-container>.card, .darken .sidebar>.segment, .darken #header>div.ui.segment:not(.inverted), .darken #header>div.ui.secondary.inverted.blue.segment>.segment, .darken .rowed tbody tr, .darken .modal>div {
	background-color: #2a465c !important;
}

.darken>div:not(.sweet-overlay), .darken .input-control, .darken .slider-control {
	background-color: #031019 !important;
}
