body {
	padding: 25px;
	font-family: 'Open Sans', sans-serif;
}

#header {
	width: 100%;
	margin-bottom: 25px;
}

.ultra {
	width: 390px !important;
}

.message>p {
	text-indent: 25px;
}

.modal>.header {
	text-align: center;
}

#modal-enable-sound {
	margin-bottom: 10px;
}

.image.content>img {
	object-fit: cover;
}

.rowed {
	overflow-x: scroll !important;
	overflow-y: scroll !important;
	width: auto !important;
	height: calc(75%);
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.rowed>.card {
	display: inline-block !important;
	flex-shrink: 0 !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
}

.rowed>.card:not(:last-child) {
	margin-right: 10px !important;
}

.rowed>.card~.card {
	margin-left: 0px !important;
}

.stacking {
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	column-count: 5;
	column-gap: 10px;
	width: 100%;
}

.stacking>.card {
	width: 90% !important;
	display: inline-block !important;
	margin-top: 0px !important;
	-webkit-column-break-inside: avoid !important;
	page-break-inside: avoid !important;
	break-inside: avoid-column !important;
}

.card>.content {
	text-align: center !important;
}

.card {
	flex-shrink: 0 !important;
}

.smaller {
	font-size: 0.85em !important;
}

.smaller>tbody>tr>td>button {
	font-size: 0.85em !important;
}


/*body*/

.darken {
	background-color: black !important;
}


/*container*/

.darken>div {
	background-color: black !important;
}


/*cards*/

.darken>div>#raid-container>.card {
	background-color: lightgrey !important;
}


/*menu item*/

.darken>div>div>.menu>.item {
	background-color: black !important;
	color: white !important;
}


/*menu item hover*/

.darken>div>div>.menu>.item:hover {
	color: lightgrey !important;
}


/*menu item*/

.darken>div>div>.segment {
	background-color: black !important;
}


/*settings modal*/

.darken .modal>div {
	background-color: lightgrey !important;
}


/*settings modal controls*/

.darken .modal>div>div>span {
	border: 1px solid black;
}


/*settings modal image*/

.darken .modal>div>img {
	border: 1px solid black;
}


/*settings modal controls*/

.darken .modal>div>div>button {
	border: 1px solid black;
}

#connection-status {
	display: inline-block;
	margin-bottom: -14px;
	margin-top: -14px;
	margin-right: 5px;
}

.dbox-donation-button {
	background: #2185d0 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 12px center;
	color: #fff;
	text-decoration: none;
	font-family: Verdana, sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 1rem;
	padding: 8px 13px 8px 46px;
	-webkit-border-radius: 4px;
	margin-right: 5px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #175d91;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.bigger {
	padding: 17px !important;
}

.selected-raids-label {
	margin-bottom: 5px !important;
}

#viramate-api {
	display: none;
}

.layout-switcher {
	margin-right: 10px !important;
}

.menu>.segment>.button {
	margin-bottom: 5px !important;
}

.name-header {
	font-size: 1.28571429em;
	font-weight: 700;
}

.tip-title {
	font-size: 1rem;
	font-weight: 700;
}

.name-meta {
	color: rgba(0, 0, 0, .6);
	font-size: 1em;
}

.time-filler {
	padding: 25px;
}

.slider-control {
	padding: 14px;
	border-radius: 4px;
	display: inline-block;
	background-color: rgb(224, 225, 226);
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.slider-control-disabled {
	padding: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-left: 5px !important;
	margin-right: 5px !important;
	background-color: rgb(150, 150, 150) !important;
	cursor: not-allowed !important;
}

.slider-title {
	margin-right: 10px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.slider-control-disabled>input {
	cursor: not-allowed !important;
	background-color: rgb(150, 150, 150) !important;
}

.input-control {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	background-color: rgb(224, 225, 226);
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.input-control-disabled {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	background-color: rgb(150, 150, 150) !important;
	cursor: not-allowed !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.input-control-disabled>input {
	cursor: not-allowed !important;
	background-color: rgb(150, 150, 150) !important;
}

.input-title {
	margin-right: 5px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.input-text>input {
	width: 55px;
}

.input-footer {
	margin-left: 5px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

input[type=range] {
	-webkit-appearance: none;
	margin-bottom: 5px;
	vertical-align: middle;
	background-color: rgb(224, 225, 226);
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #2185d0, 0px 0px 1px #2185d0;
	background: #2185d0;
	border-radius: 0px;
	border: 0px solid #2185d0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2185d0;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #2185d0, 0px 0px 1px #2185d0;
	background: #2185d0;
	border-radius: 0px;
	border: 0px solid #2185d0;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	margin-top: -10px;
}

input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	height: 25.6px;
	margin-top: -10px;
}
