#connection-status-value {
	font-size: 10pt;
}

#container {
	display: flex;
	flex-direction: column;
}

#donate-btn>a {
	color: #FFF !important;
}

#filter-dropdown {
	margin-top: 1px;
	border-radius: 5px 0px 0px 5px;
}

#filter-dropdown>label {
	font-weight: bold;
	margin-right: 3px;
}

#header.header-shrink {
	position: relative;
	transform: translateY(-100%);
	transition: transform .5s ease;
	z-index: 5000;
}

#header.header-shrink:hover {
	transform: translateY(0%);
}

#header.header-shrink:hover~* {
	filter: blur(2px) opacity(50%) brightness(50%);
}

#header.header-shrink~#raid-container {
	margin-top: -70px;
}

#header.header-shrink~.ui.message:not(.hidden) {
	margin-bottom: 225px;
}

#header.header-shrink~:not(#raid-container) {
	margin-top: -220px;
}

#raid-table {
	margin-top: 5px;
}

#searcher {
	grid-column: span 3;
	z-index: 5000 !important;
}

#selected-raids {
	padding: 5px;
	margin: 0px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, 310px);
	grid-auto-rows: 40px;
}

#selected-raids-container {
	margin-top: 5px;
	padding: 5px;
}

#time-picker {
	border-radius: 3px;
	font-size: 14pt;
	padding: 5px;
}

#time-until {
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 10pt;
	padding: 5px;
	transition: all 1s;
	white-space: nowrap;
	grid-column: span 2;
}

#viramate-api {
	display: none;
}

.bigger {
	padding: 17px !important;
}

.blocked {
	cursor: not-allowed;
}

.card {
	flex-shrink: 0 !important;
}

.card>.content {
	text-align: center !important;
}

.card>.image>img {
	height: 75px !important;
	object-fit: cover !important;
	object-position: 0 20% !important;
	width: 100% !important;
}

.container {
	height: 100% !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	overflow: auto !important;
	padding: 5px !important;
	width: 100% !important;
}

.dashboard {
	padding: 5px !important;
	margin-bottom: 5px !important;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, 160px);
	grid-auto-rows: 35px;
	justify-items: stretch;
	align-items: center;
}

.dashboard>button {
	margin: 0px !important;
}

.image.content>.description>.button, .special.popup, .ui.tab.segment>.button {
	margin-bottom: 10px !important;
}

.image.content>img {
	object-fit: cover;
}

.layout-switcher {
	margin-bottom: 10px !important;
	margin-right: 10px !important;
}

.message>p {
	text-indent: 25px;
}

.modal>.header {
	text-align: center;
}

.name-header {
	font-size: 1.28571429em;
	font-weight: 700;
}

.name-meta {
	color: rgba(0, 0, 0, .6);
	font-size: 1em;
}

.results, .ui.dimmer.modals.page {
	z-index: 5000 !important;
}

.rowed {
	flex-grow: 1;
	align-items: stretch;
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	overflow-x: scroll !important;
	padding-bottom: 5px;
	width: auto !important;
}

.rowed .extra.content {
	overflow-y: auto;
	padding: 0 !important;
}

.rowed>.card>.content {
	flex-grow: 0 !important;
}

.rowed .extra.content .button, .stacking .extra.content .button, .smaller, .smaller>td>button {
	font-size: .85em !important;
}

.rowed tbody tr {
	cursor: pointer;
	transition: height 1s;
}

.rowed>.card {
	margin: 0px 5px 0px 1px !important;
}

.rowed>.card:not(.ultra) {
	width: 300px !important;
}

.rowed>.card.ultra) {
	width: 400px !important;
}

.rowed>.card~.card {
	margin-left: 0 !important;
}

.selected-raids-label {
	cursor: pointer;
	margin: 0px !important;
}

.smaller>td>.ui.items>.item {
	margin: 0 !important;
}

.smaller>td>.ui.items>.item>.content {
	font-size: .85em;
}

.stacking {
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	column-count: 5;
	column-gap: 10px;
	width: 100%;
}

.stacking .ultra {
	-webkit-column-break-inside: avoid !important;
	break-inside: avoid-column !important;
	display: inline-block !important;
	margin-top: 0 !important;
	max-width: none !important;
	page-break-inside: avoid !important;
	width: 400px !important;
}

.stacking>.card:not(.ultra) {
	-webkit-column-break-inside: avoid !important;
	break-inside: avoid-column !important;
	display: inline-block !important;
	margin-top: 0 !important;
	max-width: none !important;
	page-break-inside: avoid !important;
	width: 300px !important;
}

.strike-time {
	border: 1px solid red !important;
	color: red !important;
}

.time-filler {
	padding: 25px;
}

.tip-title {
	font-size: 1rem;
	font-weight: 700;
}

.ui.checkbox {
	padding: 10px;
}

.ui.search>.input>input {
	border-radius: 0px 5px 5px 0px;
	margin-left: -5px;
}

.ui.special.popup a {
	text-decoration: underline;
}

.ui.tiny.image>img {
	height: 40px !important;
	object-fit: cover !important;
	object-position: 0 0 !important;
	width: 100% !important;
}

.ui.top.sidebar {
	background-color: #FFF;
	overflow-y: visible !important;
	padding: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

body:-webkit-full-screen {
	height: 100%;
	width: 100%;
}

td.larger>img {
	height: 80%;
	object-fit: cover;
	object-position: 0 20%;
	width: 100%;
}

@media max-width 1101px and min-width 1092px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -255px;
	}
}

@media max-width 1091px and min-width 986px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -255px;
	}
}

@media max-width 985px and min-width 975px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -260px;
	}
}

@media max-width 974px and min-width 708px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -305px;
	}
}

@media max-width 707px and min-width 650px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -355px;
	}
}

@media max-width 649px and min-width 597px {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -295px;
	}
}

@media max-width 596 {
	#header.header-shrink~:not(#raid-container) {
		margin-top: -330px;
	}
}

@media max-width 650px {
	#connection-status {
		margin-top: 10px;
	}
	#raid-table .item>.content {
		text-align: center !important;
	}
	.selected-raids-label {
		font-size: .85em !important;
	}
	body>.ui.container.segment.fluid {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
