body {
	font-family: 'Open Sans', sans-serif;
}

body:-webkit-full-screen {
	width: 100%;
	height: 100%;
}

.ui.top.sidebar {
	padding: 10px;
	background-color: white;
	overflow-y: visible !important;
}

.container {
	margin-bottom: 0px !important;
	margin-top: -1px !important;
	height: 100% !important;
	width: 100% !important;
	overflow: auto !important;
	padding-top: 5px;
}

#time-picker {
	font-size: 14pt;
	border-radius: 3px;
	padding: 5px;
}

.strike-time {
	border: 1px solid red !important;
	color: red !important;
}

#time-until {
	font-size: 14pt;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid black;
	width: max-content;
	transition: all 1s;
	border-radius: 5px;
	white-space: nowrap;
}

#header.header-shrink {
	position: relative;
	z-index: 5000;
	transform: translateY(-100%);
	transition: transform 0.5s ease;
}

#header.header-shrink~*:not(#raid-container) {
	margin-top: -220px;
}

#header.header-shrink~#raid-container {
	margin-top: -70px;
}

#header.header-shrink~.ui.message:not(.hidden) {
	margin-bottom: 225px;
}

#header.header-shrink:hover {
	transform: translateY(0%);
}

#header.header-shrink:hover~* {
	filter: blur(2px) opacity(50%) brightness(50%);
}

.ui.checkbox {
	padding: 10px;
}

.rowed .ultra {
	width: 400px !important;
	display: inline-block !important;
	flex-shrink: 0 !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
	margin-right: 15px !important;
}

.results {
	z-index: 5000;
}

.ui.special.popup a {
	text-decoration: underline;
}

.message>p {
	text-indent: 25px;
}

.modal>.header {
	text-align: center;
}

.image.content>img {
	object-fit: cover;
}

.image.content>.description>.button {
	margin-bottom: 10px !important;
}

td.larger>img {
	object-fit: cover;
	width: 100%;
	height: 80%;
	object-position: 0% 20%;
}

.ui.tiny.image>img {
	object-fit: cover !important;
	object-position: 0% 0% !important;
	width: 100% !important;
	height: 40px !important;
}

.card>.image>img {
	object-fit: cover !important;
	object-position: 0% 20% !important;
	width: 100% !important;
	height: 75px !important;
}

.ui.dimmer.modals.page {
	z-index: 5000;
}

.rowed {
	overflow-x: scroll !important;
	width: auto !important;
	height: calc(93%);
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.rowed tbody tr {
	cursor: pointer;
	transition: height 1s;
}

.rowed .card:not(.ultra) tbody tr:hover {
	height: 50px;
}

.rowed .card.ultra tbody tr:hover {
	height: 70px;
}

.rowed .extra.content {
	overflow-y: auto;
	max-height: 75vh;
	padding: 0px !important;
}

.rowed .extra.content .button {
	font-size: 0.85em !important;
}

.rowed>.card:not(.ultra) {
	display: inline-block !important;
	flex-shrink: 0 !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
	margin-right: 15px !important;
	width: 300px !important;
}

.rowed>.card~.card {
	margin-left: 0px !important;
}

.stacking {
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	column-count: 5;
	column-gap: 10px;
	width: 100%;
}

.stacking .extra.content .button {
	font-size: 0.85em !important;
}

.stacking>.card:not(.ultra) {
	width: 300px !important;
	display: inline-block !important;
	margin-top: 0px !important;
	-webkit-column-break-inside: avoid !important;
	page-break-inside: avoid !important;
	break-inside: avoid-column !important;
	max-width: none !important;
}

.stacking .ultra {
	width: 400px !important;
	display: inline-block !important;
	margin-top: 0px !important;
	-webkit-column-break-inside: avoid !important;
	page-break-inside: avoid !important;
	break-inside: avoid-column !important;
	max-width: none !important;
}

.card>.content {
	text-align: center !important;
}

.card {
	flex-shrink: 0 !important;
}

.smaller {
	font-size: 0.85em !important;
}

.smaller>td>.ui.items>.item {
	margin: 0px !important;
}

.smaller>td>.ui.items>.item>.content {
	font-size: 0.85em;
}

.smaller>td>button {
	font-size: 0.85em !important;
}

#connection-status {
	display: inline-block;
	margin-bottom: -14px;
	margin-top: -14px;
	margin-right: 5px;
}

@media (max-width: 1101px) and (min-width: 1092px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -255px;
	}
}

@media (max-width: 1091px) and (min-width: 986px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -255px;
	}
}

@media (max-width: 985px) and (min-width: 975px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -260px;
	}
}

@media (max-width: 974px) and (min-width: 708px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -305px;
	}
}

@media (max-width: 707px) and (min-width: 650px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -355px;
	}
}

@media (max-width: 649px) and (min-width: 597px) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -295px;
	}
}

@media (max-width: 596) {
	#header.header-shrink~*:not(#raid-container) {
		margin-top: -330px;
	}
}

@media (max-width: 650px) {
	#connection-status {
		margin-top: 10px;
	}
	.selected-raids-label {
		font-size: 0.85em !important;
	}
	body>.ui.container.segment.fluid {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	#raid-table .item>.content {
		text-align: center !important;
	}
}

#donate-btn>a {
	color: white !important;
}

.bigger {
	padding: 17px !important;
}

.selected-raids-label {
	margin-bottom: 5px !important;
	cursor: pointer;
}

#viramate-api {
	display: none;
}

.layout-switcher {
	margin-right: 10px !important;
	margin-bottom: 10px !important;
}

.misc-controls>.button {
	margin-bottom: 10px !important;
}

.special.popup {
	margin-bottom: 10px !important;
}

.ui.tab.segment>.button {
	margin-bottom: 10px !important;
}

.name-header {
	font-size: 1.28571429em;
	font-weight: 700;
}

.tip-title {
	font-size: 1rem;
	font-weight: 700;
}

.name-meta {
	color: rgba(0, 0, 0, .6);
	font-size: 1em;
}

.time-filler {
	padding: 25px;
}
