body {
	font-family: 'Open Sans', sans-serif;
}

.ui.top.sidebar {
	padding: 10px;
	background-color: white;
}

.container {
	margin-bottom: 0px !important;
	margin-top: -1px !important;
	min-height: 100% !important;
}

#header {
	width: 100%;
	margin-bottom: 25px;
}

.ultra {
	width: 400px !important;
	display: inline-block !important;
	flex-shrink: 0 !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
	margin-right: 15px !important;
}

.message>p {
	text-indent: 25px;
}

.modal>.header {
	text-align: center;
}

.image.content>img {
	object-fit: cover;
}

.image.content>.description>.button {
	margin-bottom: 10px !important;
}

td.larger>img {
	object-fit: cover;
	width: 100%;
	height: 90%;
	object-position: 0% 20%;
}

.ui.tiny.image>img {
	object-fit: cover !important;
	object-position: 0% 0% !important;
	width: 100% !important;
	height: 40px !important;
}

.card>.image>img {
	object-fit: cover !important;
	object-position: 0% 20% !important;
	width: 100% !important;
	height: 75px !important;
}

.ui.dimmer.modals.page {
	z-index: 5000;
}

.rowed {
	overflow-x: scroll !important;
	width: auto !important;
	height: calc(74%);
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.rowed .extra.content {
	overflow-y: auto;
	max-height: calc(78%);
}

.rowed>.card:not(.ultra) {
	display: inline-block !important;
	flex-shrink: 0 !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
	margin-right: 15px !important;
	width: 300px !important;
}

.rowed>.card~.card {
	margin-left: 0px !important;
}

.stacking {
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	column-count: 5;
	column-gap: 10px;
	width: 100%;
}

.stacking>.card {
	width: 90% !important;
	display: inline-block !important;
	margin-top: 0px !important;
	-webkit-column-break-inside: avoid !important;
	page-break-inside: avoid !important;
	break-inside: avoid-column !important;
}

.card>.content {
	text-align: center !important;
}

.card {
	flex-shrink: 0 !important;
}

.smaller {
	font-size: 0.85em !important;
}

.smaller>td>button {
	font-size: 0.85em !important;
}

#connection-status {
	display: inline-block;
	margin-bottom: -14px;
	margin-top: -14px;
	margin-right: 5px;
}

@media (max-width: 650px) {
	#connection-status {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.selected-raids-label {
		font-size: 0.85em !important;
	}
	body > .ui.container.segment.fluid {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	#raid-table .item > .content {
		text-align: center !important;
	}
}

#donate-btn>a {
	color: white !important;
}

.bigger {
	padding: 17px !important;
}

.selected-raids-label {
	margin-bottom: 5px !important;
}

#viramate-api {
	display: none;
}

.layout-switcher {
	margin-right: 10px !important;
	margin-bottom: 10px !important;
}

.misc-controls>.button {
	margin-bottom: 10px !important;
}

.special.popup {
	margin-bottom: 10px !important;
}

.ui.tab.segment>.button {
	margin-bottom: 10px !important;
}

.name-header {
	font-size: 1.28571429em;
	font-weight: 700;
}

.tip-title {
	font-size: 1rem;
	font-weight: 700;
}

.name-meta {
	color: rgba(0, 0, 0, .6);
	font-size: 1em;
}

.time-filler {
	padding: 25px;
}
