.slider-control {
	padding: 14px;
	border-radius: 4px;
	display: inline-block;
	background-color: rgb(224, 225, 226);
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.slider-control-disabled {
	padding: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
	background-color: rgb(150, 150, 150) !important;
	cursor: not-allowed !important;
}

.slider-title {
	margin-right: 10px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.slider-control-disabled>input {
	cursor: not-allowed !important;
	background-color: rgb(150, 150, 150) !important;
}

@media (max-width: 555px) {
	.tab>span>.slider-range {
		margin-top: 15px;
	}
}

.input-control {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	background-color: rgb(224, 225, 226);
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.input-control-disabled {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	background-color: rgb(150, 150, 150) !important;
	cursor: not-allowed !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.input-control-disabled>input {
	cursor: not-allowed !important;
	background-color: rgb(150, 150, 150) !important;
}

.input-title {
	margin-right: 5px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.input-text>input {
	width: 55px;
}

.input-footer {
	margin-left: 5px;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

input[type=range] {
	-webkit-appearance: none;
	margin-bottom: 5px;
	vertical-align: middle;
	background-color: rgb(224, 225, 226);
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #2185d0, 0px 0px 1px #2185d0;
	background: #2185d0;
	border-radius: 0px;
	border: 0px solid #2185d0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2185d0;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #2185d0, 0px 0px 1px #2185d0;
	background: #2185d0;
	border-radius: 0px;
	border: 0px solid #2185d0;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	margin-top: -10px;
}

input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #db2828;
	height: 27px;
	width: 18px;
	border-radius: 0px;
	background: #db2828;
	cursor: pointer;
	height: 25.6px;
	margin-top: -10px;
}
